# Notification Protocols
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/...


DATABASE_URL=
PORT=
FRONTEND_URL="http://localhost:3000"
JWT_SECRET=
NODE_ENV="development"

# Sentry
SENTRY_DSN=""
NEXT_PUBLIC_SENTRY_DSN=""
MASTER_ENCRYPTION_KEY="32chars-long"
